<Router AppAssembly="typeof(MauiProgram).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        <ErrorBoundary>
            <ChildContent>
                <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
            </ChildContent>
            <ErrorContent>
                <p class="has-text-danger">Error in Routing: @context.Message</p>
            </ErrorContent>
        </ErrorBoundary>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
